.encabezado {
	background-color: rgb(255, 255, 255);
	padding: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(img/fondo.jpg);
	background-size: cover;
	color: aliceblue;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 30px;
	
	}